<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
 Edit Stuff
    {{item.name}}
        {{dynamic.quote}}

<form action="/update/:id" method="POST">
        <input type="hidden" name="id" value="<%= dynamic.id %>">

        <input id="name" type="text" placeholder="<%= dynamic.name %>" name="name">
        <input id="quote "type="text" placeholder="quote" name="quote">
        Paleo Friendly?
        <input id="input" type="radio" name="paleo" value="no" checked> No

        
        <button type="submit">update</button>
    </form>
	
	
	</body>
</html>