

 Edit Stuff
    {{#if dynamic}}
    {{dynamic._id}}
     

<form action="/update/{{dynamic._id}}" method="POST">
        

        <input id="name" type="text" placeholder=" {{dynamic.name}}" name="name">
        <input id="quote "type="text" placeholder="{{dynamic.quote}}" name="quote">
        Paleo Friendly?
        <input id="input" type="radio" name="paleo" value="no" checked> No

        
        <button type="submit">update</button>
    </form>
	
{{/if}}