<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
 Edit Stuff

<ul class="dynamic">
  <% for(var i=0; i<dynamic.length; i++) {%>
    <li class="quote">
      <span><%= dynamic[i].name %></span>
      <span><%= dynamic[i].quote %></span>
      <button id="update">Edit</button>
     <button id="delete">Delete</button>

    </li>
  <% } %>
</ul>

<form action="/edit" method="POST">
        <input type="hidden" name="id" value="<%= dynamic.id %>">

        <input id="name" type="text" placeholder="name" name="name">
        <input id="quote "type="text" placeholder="quote" name="quote">
        Paleo Friendly?
        <input id="input" type="radio" name="paleo" value="no" checked> No

        
        <button type="submit">update</button>
    </form>
	
	
	</body>
</html>