
<form action="/new" method="POST">
    <input type="text" placeholder="name" name="name" required="required"></br>
    <input type="number" step="any" placeholder="price" name="price" required="required"></br> Paleo Friendly?</br>
    <input type="radio" name="paleo" value="yes" checked required="required"> Yes
    <input type="radio" name="paleo" value="no" checked required="required"> No</br>
<input type="checkbox" name="cheap" value="cheap" required="required"> Budget Friendly?</br>


    <button type="submit">Submit</button>
</form>
