<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    
    
    <link rel="stylesheet" href="styles/ocean.css">

    <script src="highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
        <script>hljs.highlightBlock(block);</script>


    
    
</head>

<nav class="navbar navbar-default navbar-static-top topage" id="topnavbar">
    <div class="container">

    </div>
</nav>

<body>

	<div class="jumbotron jumbotron-fluid topage">
  <div class="container">
  
  
  
    <h1 class="display-1">A How-TO Guide For Ionic 2</h1>
    <p class="lead">Playing Around With Firebase</p>
	<p> 
	<p>
  </div>
	</div>
		<div id="page-wrap">

  
                {{{body}}}
				
	</div>
	
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>

</html>
