#page-wrap {
     width: 800px;
     margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}


.images {
    width: 800px;
     margin: 0 auto;
}

.PowerShell {
    width:400px !important;
}

.header h3 {
    font-family: "FreightTextProMedium-Regular", Georgia, Cambria, "Times New Roman", Times, serif;
    color: #222;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: -0.02rem;
    margin: 42px 0px 12px 0px;
}


.topage {
	background-color:  	#b6ece2;
	margin-bottom:0;
	margin: -10px;
    
}

.display-1 {
    
    padding-top: 25px;
    
}

.topnav {
    width: 800px;
    margin: 0 auto;
    text-align: center;

	
  }
  .jumbotron {
	  margin-top: -25px;
      margin-bottom:0;
	  height: 200px;
      text-align: center;
    }
	
 li {
    display: inline;
}

.httpsuccess {
    display:inline-block !important;
}

.json {
    width:400px;
    padding-bottom: 400px;
}